.services
{
    background: #fff;
    padding: 50px 0;
}

.our-services
{
    color: rgb(15, 15, 117);
    font-weight: 800;
    padding: 0 40px;
}
.services .services-box
{
    background: rgba(17, 17, 136, 0.856);
    color: #fff;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
}
.services .services-box .service-box1
{
    width: 40%;
}
.services .services-box .service-box2
{
    width: 50%;
    border-radius: 20px;
}
